.formHardSkillls{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  text-align: center;
  padding: 2em 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  border: 2px solid #bccdd1;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: #377f8f;
  width:25%;
  margin: 3px;
  min-width: 320px;
  max-width: 1400px;
  font-size: max(10px,1.4vw);
}
.formHardSkillls h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  font-size: max(13px,1.2vw);
  color:rgb(238, 230, 230);
  text-transform: uppercase;
}
.formHardSkillls h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  font-size: max(12px,1.1vw);
  color:#333;
  padding-top: 1em;
}
